{% extends "base.html" %}

{% block content %}
  <h1><i class="fas fa-book"></i> 我的日誌：</h1>
  <table class="table table-sm">
    <tr><td>時間</td><td>項目</td><td>功能</td></tr>
    {% for diary in diary_list %}
    <tr>
      <td>({{diary.time| date:"l"}}){{diary.time}}</td>
      <td><a href="diary/{{diary.id}}/update/">{{diary.memo}}</a></td>
      <td><a href="diary/{{diary.id}}/delete/" class="btn btn-sm btn-danger py-0 px-1"><i class="fas fa-trash-alt"></i> 刪除</a></td>
    </tr>
    {% endfor %}
  </table>
  {% load pagination %}
  {% get_pagination %}
{% endblock %}